:root {
    /* fonts */
    --regular: 400;
    --bold: 600;
    --font-copy: 'OpenSans', serif;
    /* colors */
  
    --color-dark: #141414;
    --color-M-1: #252525;
    --color-base: #2E2E2E;

    --color-deco-M-1: #FFFFFF;
    --color-deco-base: #565656;
    --color-deco-m-1: #212121;

    --text-color:#FFFFFF;

    /* >> colors: neutral */
    --neutral-color-rgb: rgb(202, 203, 204);
    /* >> colors: primary */
    --primary-text-color: 32, 32, 32;
    --primary-text-color-rgb: rgb(0, 0, 0);

    --primary-color: 243, 100, 50;
    --primary-color-rgb: rgb(243, 100, 50);
    --secondary-color: 146, 255, 229;
    --secondary-color-rgb: rgb(146, 255, 229);

    /* vertical baseline */
    --vm10: 240px;
    --vm8: 192px;
    --vm6: 144px;
    --vm4: 96px;
    --vm2: 48px;
    --vb: 24px;
    --vd2: 12px;
    --vd4: 6px;
    --vd6: 4px;
    --vd8: 3px;
    --vd10: 2.4px;
}


/*

[data-theme=light] {
  

}
*/